<h1>Queries</h1>

<div ng-repeat="query in queries track by $index" class="query-row">
  <a href="javascript:" ng-click="reveal(query)">
    <i class="fa" ng-class="{'fa-angle-right': !query.shown, 'fa-angle-down': query.shown}"></i>
    SQL Query: {{query.sql}}
  </a>
  <div class="query-table-wrapper" ng-if="query.shown">
    <div class="table">
      <div class="table-row">
        <div ng-repeat="column in query.result.columns track by $index" class="table-cell heading-cell">
          {{column}}
        </div>
      </div>

      <div ng-repeat="line in query.result.lines track by $index" class="table-row">
        <div ng-repeat="value in line track by $index" class="table-cell">
          {{value}}
        </div>
      </div>
    </div>
  </div>
</div>