<h1>Logs</h1>

<label>Filter log HTTP request type: </label>
<label ng-repeat="method in httpMethods">
  <input type="checkbox" ng-click="updateList()" ng-model="method.included"/>{{method.name}}
</label>

<br/>
<br/>

<div class="table">
  <div class="table-row">
    <div class="table-cell heading-cell">
      Request Type
    </div>
    <div class="table-cell heading-cell">
      Log
    </div>
  </div>

  <div ng-repeat="log in logs track by $index" class="table-row">
    <div class="table-cell">
      {{log.requestType}}
    </div>
    <div class="table-cell">
      {{log.content}}
    </div>
  </div>
</div>
