/* app css stylesheet */

body {
  margin: 0;
}

.logo {
  display: inline-block;

  left: 0;
  height: 50px;
  width: 140px;

  line-height: 50px;
  text-align: center;
  
  font-size: x-large;
  color: white;
  font-weight: bold;
}

nav.topnav {
  min-height: 50px;
  margin-bottom: 2em;
  padding: 0;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #960;
}

.menu {
  height: 50px;
  margin: 0 20px;
  list-style: none;
}

.menu > li {
  padding: 0 0.5em;
  display: inline-block;
}

.menu > li:hover {
  background-color: #740;
}

.menu > li > a {
  display: block;
  padding: 15px 0;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.version {
  padding: 0.5em;
  font-size: small;
  color: darkgray;
}

.content-wrapper {
  padding: 2em;
}
