.query-row {
  margin-bottom: 1em;
}

.query-row a {
  color: black;
  text-decoration: none;
}

.query-table-wrapper {
  margin: 0.5em 0 0 1em;
  border: 1px solid gray;
  display: block;
  max-height: 250px;
  overflow: scroll;
}
