.table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 3px 10px;
  border: 1px solid #999;
}

.heading-cell {
  font-weight: bold;
  background-color: #ddd;
}
